
         <div class='ui bottom fixed menu' id='footer'>
            <a class="footer item">
                <i class="github icon"></i>
                Github
            </a>
            <a class="footer item">
                <i class="linkedin icon"></i>
                Linkedin
            </a>
            <a class="footer item">
                <i class="codepen icon"></i>
                Codepen
            </a>
        </div>
    </body>
</html>
