<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:300i,400&display=swap" rel="stylesheet">
        <link rel="shortcut icon"  type="image/x-icon" href="/images/night-favicon.ico">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>

    <body>
                <div class='ui top fixed menu' id='header'>
                    <a href='/' class='header item'>
                            <img src="/images/cloudy-night.svg" alt="triangle with all three sides equal" height="35px" />
                            <div>
                                Kyle Knickerbocker
                            </div>
                    </a>
                    <div class='right menu'>
                        <a href='/about' class='item'>About</a>
                        <a href='/projects' class='item'>Projects</a>
                        <a href='/articles' class='item'>Articles</a>
                    </div>
                </div>





