<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon"  type="image/x-icon" href="/images/knight.svg">
        <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>

    <body>
        <div class = "page">
            <nav class="menu">
                <button aria-expanded="false" aria-controls="menu-list">
                    <span class="open">☰</span>
                    <span class="close">×</span>
                </button>
                <ul class ="menu-list">
                    <li>
                        <a href="/"><img src="/images/cactus.svg" alt="triangle with all three sides equal" height="75px" /></a>
                    </li>
                    <li>
                        <a href='/cv'>CV</a>
                    </li>
                    <li>
                        <a href='/matrix'>Programmer Matrix</a>
                    </li>
                    <li>
                        <a href='/projects'>Projects</a>
                    </li>
                    <li>
                        <a href='/resources'>Resources</a>
                    </li>
                </ul>
            </nav>

            <script>
                const navButton = document.querySelector('button[aria-expanded]');

                function toggleNav({ target }) {
                    const expanded = target.getAttribute('aria-expanded') === 'true' || false;
                    navButton.setAttribute('aria-expanded', !expanded);
                }

                navButton.addEventListener('click', toggleNav);

            </script>







