<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>

    <body>
        <div class ="ui fixed inverted menu">
            <div class='ui container'>
                <div class='header item'><i class='code branch icon'></i>Kyle Knickerbocker</div>
                <a href='/' class ='item'>Projects</a>
                <a href='/writings' class='item'>Writings</a>
            </div>
        </div>
