<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>

    <body>
            <div class='ui inverted segment' id ='header'>
                <div class='ui inverted secondary pointing menu'>
                    <a href='/' class='header item'>Knickerbocker</a>
                    <div class='right menu'>
                        <a href='/about' class='item'>About</a>
                        <a href='/projects' class='item'>Projects</a>
                        <a href='/articles' class='item'>Articles</a>
                    </div>
                </div>
            </div>





