<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon"  type="image/x-icon" href="/images/knight.svg">
        <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>

    <body>
        <div class = "page">
            <nav class="menu">
                <a href = "/">
                    <!-- <img src="/images/knight.svg" alt="triangle with all three sides equal" height="35px" /> -->
                </a>
                <li>
                    <a href='/cv'>CV</a>
                </li>
                <li>
                    <a href='/matrix'>Programmer Matrix</a>
                </li>
                <li>
                    <a href='/projects'>Projects</a>
                </li>
                <li>
                    <a href='/resources'>Resources</a>
                </li>
                <li>
                    Contact: <a href="mailto:knickerbocker.chris@gmail.com">contact@chrisknickerbocker.com</a>
                </li>
            </nav>







