<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon"  type="image/x-icon" href="/images/night-favicon.ico">
        <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>

    <body>
        <div class = "wrapper">
            <div class = "sidebar">
                <div class = "name"><p>
                    <a href = "/">
                        Christopher K. <br> Knickerbocker
                    </a>
                </p>
            </div>
                <ul class="menu-list">
                        <li>
                            <a href='/about'>About me</a>
                        </li>
                        <li>
                            <a href='/projects'>Projects</a>
                        </li>
                        <li>
                            <a href='/articles'>Articles</a>
                        </li>
                        <li>
                            <a href='/articles'>Resources</a>
                        </li>
                    </ul>
                <div class = "external-links">
                    <button>L</button>
                    <button>G</button>
                </div>
            </div>







