<% include ./partials/header %>
<div class = 'flexbox'>
    <div class ='profilePic'>
        <img class="ui small circular image"
            src="https://images.unsplash.com/photo-1542065435-d6bc2eac3377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
    </div>
    <div class='ui main text container'>
        <div class='ui medium header'>
            Hello, my name is Kyle Knickerbocker. and I'm web developer and designer living in Austin, Texas.
        </div>
        <p>
            I really enjoy making websites and applications and take a lot of pride in making them look and perform
            in a way that exceeds a client's expectations.  If you're looking for a developer for your idea or business,
            I'd love the opportunity to talk with you about it.
        </p>
        <div class='ui horizontal divider'>
            Skills
        </div>
    </div>
</div>
<div class = 'ui container'>
    <div class= 'ui center medium header'>
        My Areas of Proficiency
    </div>
    <div class='ui grid'>
        <div class="three column row">
            <div class="column">
                <img>
                One Thing
            </div>
            <div class="column">
                <img>
                That Thing
            </div>
            <div class="column">
                <img>
                Another Thing
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <img>
                HTML/CSS
            </div>
            <div class="column">
                <img>
                Javascript
            </div>
            <div class="column">
                <img>
                SEO
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>
