<% include ./partials/header %>
<div class="ui container">

<div class = 'flexbox'>
    <div class ='profilePic'>
        <img class="ui small circular image"
            src="https://images.unsplash.com/photo-1542065435-d6bc2eac3377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
    </div>
    <div class='ui main text container'>
        <div class='ui medium header'>
            Hello, my name is Kyle Knickerbocker. I'm web developer and designer living in Austin, Texas.
        </div>
        <p>
            I really enjoy making websites and applications and take a lot of pride in making them look and perform
            in a way that exceeds a client's expectations.  If you're looking for a developer for your idea or business,
            I'd love the opportunity to talk with you about it.
        </p>
        <div class='ui horizontal divider'>
            My Areas of Proficiency
        </div>
    </div>
</div>
<div class = 'ui sub container'>
    <div class='ui grid'>
        <div class="three column row">
            <div class="column">
                <img>
                One Thing
            </div>
            <div class="column">
                <img>
                That Thing
            </div>
            <div class="column">
                <img>
                Another Thing
            </div>
        </div>
        <div class="three column row">
            <div class="column">
                <img>
                HTML/CSS
            </div>
            <div class="column">
                <img>
                Javascript
            </div>
            <div class="column">
                <img>
                SEO
            </div>
        </div>
    </div>
    <div class = 'ui main text container'>
        <div class='ui horizontal divider'>
            More Stuff
        </div>
        <p>
            Bacon ipsum dolor amet alcatra sausage porchetta pork chop corned beef. Flank filet mignon chicken porchetta. Corned
            beef cow kielbasa capicola, turkey tongue t-bone sirloin shoulder biltong. Cow turkey fatback porchetta. Alcatra
            corned
            beef cupim frankfurter ham hock. Biltong ground round tail, pork loin pancetta salami meatball shank sirloin strip
            steak
            fatback prosciutto frankfurter.

            Cow bresaola turkey chicken burgdoggen pastrami ball tip. Ribeye swine boudin, pastrami ham bacon short ribs kevin
            drumstick hamburger frankfurter tri-tip strip steak. Drumstick picanha kielbasa chuck boudin ball tip porchetta pig
            frankfurter tongue. Ham short ribs boudin, capicola prosciutto buffalo andouille. Kielbasa tenderloin jowl andouille
            burgdoggen. Tri-tip flank beef pork loin ham. T-bone pork belly filet mignon, turkey meatball cow picanha
            frankfurter
            jowl bresaola pork buffalo ribeye alcatra.

            Corned beef frankfurter tenderloin ground round landjaeger jerky fatback ball tip hamburger sirloin. Leberkas pork
            chop
            spare ribs pancetta, sausage picanha tongue venison beef ground round. Meatball pig beef short ribs chuck, strip
            steak
            shoulder shank filet mignon jerky pork chicken venison bacon. Pancetta spare ribs swine ham ball tip bacon pastrami
            venison shank turkey kielbasa filet mignon meatloaf tri-tip shoulder. Porchetta spare ribs pork doner tenderloin cow
            kevin chuck fatback hamburger flank.

            T-bone boudin biltong shank porchetta prosciutto, turducken pork belly spare ribs pastrami kevin. Kevin pastrami
            ground
            round rump filet mignon ham shank andouille leberkas. Jerky pork buffalo pancetta shankle bresaola. Tongue pastrami
            pork
            ribeye t-bone burgdoggen. Meatball drumstick chuck ground round, shoulder brisket picanha biltong bacon swine.

            Ham prosciutto ham hock pork belly buffalo. Alcatra sirloin jowl, bresaola ribeye pastrami fatback pork belly
            meatball
            shoulder porchetta cupim pork chop strip steak short loin. Shank ribeye meatball andouille rump short loin leberkas
            prosciutto jowl capicola cupim pork loin buffalo spare ribs beef ribs. Tail porchetta boudin cow shankle. Biltong
            shankle filet mignon pork belly brisket sausage rump shoulder chicken corned beef bresaola flank pancetta beef ribs.
            Strip steak tenderloin hamburger alcatra tail.

            Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
        </p>
    </div>
</div>

</div>
<% include ./partials/footer %>
