<% include ./partials/header %>

<div class = 'about-page'>
    <div class = "top">
        <img class= 'profile-pic' src="https://source.unsplash.com/random/300x300?v=1">
        <div class = "intro">
            <h3 class="about about1">
                Hello! My name is Kyle Knickerbocker and I'm web developer and designer living in Austin, Texas.
            </h3>
            <p class="about about2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
        <nav class = "jump-menu">
            <ul>
                <li>
                    <a href = "">Programming Knowledge </a>
                </li>
                <li>
                    <a href="">Degrees</a>
                </li>
                <li>
                    <a href="">Certifications</a>
                </li>
                <li>
                    <a href="">Work History</a>
            </ul>
        </nav>
        <div class = "holder">
            <div class = "holder-break"></div>
        </div>
        <div class = "matrix">
            <div class="matrix-item v4 title">
                <div class = "matrix-name" >
                    <h3> Programming <br> Compentency <br> Matrix</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class = "matrix-item v4 language">
                <div class="matrix-name">
                    <h3> Javascript</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v4 frontend">
                <div class = "matrix-name">
                    <h3>HTML</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v4 frontend">
                <div class = "matrix-name">
                    <h3>CSS</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v2 backend">
                <div class = "matrix-name">
                    <h3>Node.js</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v2 frontend">
                <div class = "matrix-name">
                    <h3>API's</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v3 frontend">
                <div class = "matrix-name">
                    <h3>CSS Frameworks</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v2 language">
                <div class = "matrix-name">
                    <h3>C++</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v2 language">
                <div class = "matrix-name">
                    <h3>Python</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v1 language">
                <div class = "matrix-name">
                    <h3>PHP</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v3 backend">
                <div class = "matrix-name">
                    <h3>MongoDB</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v2 backend">
                <div class = "matrix-name">
                    <h3>Authentication</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v3 backend">
                <div class = "matrix-name">
                    <h3>Express.js</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="matrix-item v2 frontend">
                <div class = "matrix-name">
                        <h3>Package Managers</h3>
                </div>
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
        </div>

        <div class="holder">
            <div class="holder-break"></div>
        </div>

        <!-- *** DEGREE SECTION -->
        <div class = "degrees">
            <h2 class = "about-subheader">Degrees</h2>
            <p class = "education-text">
                <strong>Master's of Science in Urban and Regional Planning</strong>
                <br>
                University of Texas at San Antiono, 2015
                <br>
                <br>
                <strong>Bachelor of Science in Environmental Science</strong>
                <br>
                    University of Texas at San Antiono, 2010
                <br>
            </p>
            <div class="holder">
                <div class="holder-break"></div>
            </div>
        </div>

        <!-- ***CERTIFICATION SECTION *** -->
        <div class = "certifications">
            <h2 class = "about-subheader">Certifications</h2>
            <p class = "education-text">
                <strong>Microsoft</strong>
                <br>
                Logic and Computational Thinking, 2019
                <br>
                Introduction to Python: Absolute Beginner, 2019
                <br>
                Introduction to Python: Fundamentals, 2019
                <br>
                <br>
            <strong>Institute for Sustainable Infrastructure</strong>
            <br>
            Envision Sustainability Professional (ENV SP), 2018
            <br>
            <br>
            <strong>Mathworks</strong>
            <br>
            Matlab Fundamentals, 2016
        </p>
        <div class="holder">
            <div class="holder-break"></div>
        </div>
    </div>

    <!-- ***WORK HISTORY SECTION*** -->
    <div class = "certifications">
        <h2 class = "about-subheader">Work History</h2>
        <p class = "education-text">
            <strong>San Antonio River Authority, San Antonio, TX </strong>
            <br>
            Stormwater Specialist, January 2017 - September 2018
            <br>
            Water Quality Scientist II, March 2015 - January 2017
            <br>
            Water Quality Scientist I, August 2011 - March 2015
            <br>
            <br>
            <strong>CPS Energy, San Antonio, TX</strong>
            <br>
            Environmental Lab Assistant, September 2010 - August 2011
        </p>
    </div>



    </div>



</div>



