<% include ./partials/header %>

    <div class = "cv-title">
        <h1>Education & Work History</h1>
    </div>
        <!-- *** DEGREE SECTION -->
    <div class = "cv-section">
        <h2 class = "about-subheader">Degrees</h2>
        <dl>
            <dt><strong>Master's of Science in Urban and Regional Planning</strong></dt>
                <dd>University of Texas at San Antiono, 2015</dd>
                <br>
                <dt><strong>Bachelor of Science in Environmental Science</strong></dt>
                <dd>University of Texas at San Antiono, 2010</dd>
        </dl>
        <div class="holder">
            <div class="holder-break"></div>
        </div>


        <!-- ***CERTIFICATION SECTION *** -->

        <h2 class = "about-subheader">Certifications</h2>
        <dl>
            <dt><strong>Microsoft</strong></dt>
                <dd>Logic and Computational Thinking, 2019</dd>
                <dd>Introduction to Python: Absolute Beginner, 2019</dd>
                <dd>Introduction to Python: Fundamentals, 2019</dd>
            <br>
            <dt><strong>Institute for Sustainable Infrastructure</strong></dt>
                <dd>Envision Sustainability Professional (ENV SP), 2018</dd>
            <br>
            <dt><strong>Mathworks</strong></dt>
                <dd>Matlab Fundamentals, 2016</dd>
        </dl>
        <div class="holder">
            <div class="holder-break"></div>
        </div>


    <!-- ***WORK HISTORY SECTION*** -->

        <h2 class = "about-subheader">Work History</h2>
        <dl>
            <dt><strong>San Antonio River Authority, San Antonio, TX </strong></dt>
                <dd>Stormwater Specialist, January 2017 - September 2018</dd>
                <dd>Water Quality Scientist II, March 2015 - January 2017</dd>
                <dd>Water Quality Scientist I, August 2011 - March 2015</dd>
            <br>
            <dt><strong>CPS Energy, San Antonio, TX</strong></dt>
                <dd>Environmental Lab Assistant, September 2010 - August 2011</dd>
        </dl>




    </div>

</div>

</body>



