<% include ./partials/header %>

<div class = 'flexbox'>
  <div class='ui main text container'>
      <h1 class='title'>   Complete Web Development, Design, and Support </h1>
      <h2 class='subtitle'>
        Full-service website and application design, deployment, and hosting.
      </h2>
      <h3 class='subsubtitle'>
        Hello, my name is Kyle Knickerbocker. I am an independent web designer based out of
        Austin, TX.  I enjoy writing code to bring highly polished, ADA-compliant websites to life.
      </h3>
  </div>
      <div class ="ui container">
        <img class="homePic" src="/images/nomad.png">
      </div>
</div>
      <div class='ui horizontal divider'>
        Services
      </div>

<div class = "ui container">
    <div class='ui horizontal list'>
      <div class='item'>
        <img class='ui centered tiny image' src="/images/asset 90.png"><br>
        <div class='content'>Website Development</div>
      </div>
      <div class='item'>
        <img class='ui tiny image' src="/images/asset 80.png"><br>
        <div class='content'>Website Design</div>
      </div>
      <div class='item'>
        <img class='ui tiny image' src="/images/asset 780.png"><br>
        <div class='content'>Wordpress</div>
      </div>
      <div class='item'></a>
        <img class='ui tiny image' src="images/asset 100.png"><br>
        <div class='content'>SEO</div>
      </div>
      <div class='item'>
        <img class='ui tiny image' src="images/asset 790.png"><br>
        <div class='content'>Social Media</div>
      </div>
    </div>
</div>





<% include ./partials/footer %>
