<% include ./partials/header %>

<div class = 'flexbox'>
  <img class="homePic" src="/images/nomad.png">
  <div class='ui main text container'>
      <div class='ui huge header'>  Web Development and Design
      </div>
      <div class='ui medium header'>
        Websites and applications that sensibly and
        effectively convey information to a user.
      </div>
      <div class='ui horizontal divider'>
        Services
      </div>
      <div class ='ui horizontal list'>
        <div class='item'>
          <img class ='ui centered tiny image' src="/images/asset 90.png">
          <div class='content'>Website Development</div>
        </div>
        <div class='item'>
          <img class='ui tiny image' src="/images/asset 80.png">
          <div class='content'>Website Design</div>
        </div>
        <div class='item'>
          <img class='ui tiny image' src="/images/asset 780.png">
          <div class='content'>Wordpress</div>
        </div>
        <div class='item'></a>
          <img class='ui tiny image' src="images/asset 100.png">
          <div class='content'>SEO</div>
        </div>
        <div class='item'>
          <img class='ui tiny image' src="images/asset 790.png">
          <div class='content'>Social Media</div>
        </div>
      </div>
  </div>
</div>





<% include ./partials/footer %>
