<% include ./partials/header %>

<div class = 'box flex'>
  <div class='ui main text container'>
      <div class='ui huge header'>
        Hello, my name is Kyle Knickerbocker.  I have a passion to develop websites and applications
        that easily convey the information a user is looking for.
      </div>
      <div class='ui medium header'>
        <i class="keyboard icon"></i>
        Website design, Search Engine Optimization, and Social Media
      </div>
  </div>
</div>





<% include ./partials/footer %>
