<% include ./partials/header %>


  <header class="headline">
    <h1>Christopher K. <br> Knickerbocker</h1>

  </header>
  <figure class = "profile">
    <img src = "images/profilepic.jpg">
  </figure>
  <section class="bio">
    <h3>Hello! My name is Kyle Knickerbocker and I'm software developer and designer living in Austin, Texas.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <br>
    <h4>My other profiles on the web:</h4>
    <div class = "external-menu">
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Github.svg" height = "40px">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Linkedin.svg" height = "40px">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Stack-overflow.svg" height = "40px">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Codepen.svg" height = "40px">
        </a>
      </li>
    </div>

  </section>

  <!-- <nav class="menu">
    <li>
      <a href='/cv'>CV</a>
    </li>
    <li>
      <a href='/matrix'>Programmer Matrix</a>
    </li>
    <li>
      <a href='/projects'>Projects</a>
    </li>
    <li>
      <a href='/resources'>Resources</a>
    </li>
    <li>
      Contact: <a href="mailto:knickerbocker.chris@gmail.com">knickerbocker.chris@gmail.com</a>
    </li>
  </nav> -->

</div>

</body>
