<% include ./partials/header %>


  <header class="headline">
    <h1>Christopher K. <br> Knickerbocker</h1>
  </header>

  <figure class = "profile">
    <img src = "images/kyle-profile-bw.jpg">
  </figure>

  <div class="bio-header">
    <h3>Hello! My name is Kyle Knickerbocker and I'm software developer and designer living in Austin, Texas.</h3>
  </div>

  <div class="bio-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

  <div class = "external-menu">
    <h4>My other profiles on the web:</h4>
    <div class="external-links">
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Github.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Linkedin.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Stack-overflow.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Codepen.svg">
        </a>
      </li>
    </div>
  </div>

  </div>
</body>
