<% include ./partials/header %>


  <header class="headline">
    <h1>Christopher K. <br> Knickerbocker</h1>
  </header>

  <figure class = "photo">
    <div class ="photo-object">
      <img src="images/kyle-landscape-bw.jpg">
    </div>
  </figure>
  <section class = "bio-header">
      <h2>Software developer and designer living in Austin, Texas.</h2>
  </section>

    <section class="bio-content">
      <p>Hello, my name is Kyle Knickerbocker. I'm a software developer who mainly focuses on full-stack
        web development.  Previously, I worked as an Environmental Scientist where I started programming
        by writing macros in Visual Basic, implementing Matlab algorithms, and automating GIS tasks with Python.
      </p>
      <p>
        Over the past several years, I've commited myself to pursue coding full-time and have expanded my
        capabilities to Javascript, HTML,  and CSS.
      </p>
  </section>

  <section class = "external-menu">
    <!-- <h4>Other web profiles:</h4> -->
    <div class = 'external-links'>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Github.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Linkedin.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Stack-overflow.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Codepen.svg">
        </a>
      </li>
    </div>
  </section>

  </div>
</body>
