<% include ./partials/header %>


  <header class="headline">
    <h1>Christopher K. <br> Knickerbocker</h1>
  </header>

  <figure class = "photo">
    <div class ="photo-object">
      <img src="images/kyle-landscape-bw.jpg">
    </div>
  </figure>
  <section class = "bio-header">
      <h2>Software developer and designer living in Austin, Texas.</h2>
  </section>

    <section class="bio-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
  </section>

  <section class = "external-menu">
    <!-- <h4>Other web profiles:</h4> -->
    <div class = 'external-links'>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Github.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Linkedin.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Stack-overflow.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Codepen.svg">
        </a>
      </li>
    </div>
  </section>

  </div>
</body>
