<% include ./partials/header %>

<div class = 'box flex'>
  <div class='ui main text container'>
      <div class='ui huge header'>
        Hello, my name is Kyle.
      </div>
      <i class="keyboard icon"></i>
      <div class='ui medium header'>
        I work to develop websites and applications
        that easily convey the information a user is looking for.
        This website is a collection of some of my work, writings, and other projects.
        Website design, Search Engine Optimization, and Social Media
      </div>
  </div>
</div>





<% include ./partials/footer %>
