<% include ./partials/header %>

<!-- <div class = 'flexbox'>
  <!-- <div class='ui container'> -->
    <!-- <div class='name-intro'> -->
      <!-- <div class='name'>
        Kyle <br> Knickerbocker
      </div>
      <div class='intro'>
        Hello, this is my personal website. A place where you can find some of the things I've
        worked on and also some information about me.
      </div>
    </div> -->
    <!-- <div class = "hello message">
      <h1 class='title'>Hello, this is my personal website. A place where you can find some of the things I've
        worked on and also some information about me</h1>
    </div>

      <p class="divided">
        <span>Recent Work</span>
        <span class="divider"></span>
      </p>
      <div class='recents'>
          <div class="recent-projects">
            <h3>This is one</h3>
            <h3>This is one</h3>
            <h3>This is one</h3>
          </div>
      </div>
  <!-- </div> -->

  <div class="landing page">
    <nav class="box box1">
      <div class="navbar">
        <div class="name">
          This is the name</div>
        <div class="menu">
          <li>Item1</li>
          <li>Item1</li>
          <li>Item1</li>
        </div>
        <bottom class="nav3">
          <p>Bottom</p>
        </bottom>
      </div>
    </nav>
    <headline class="box box2">Headline</headline>
    <recents class="box box3">
      <div class="item">
        <div class="image">
          <img src="https://picsum.photos/200">
        </div>
      </div>

    </recents>
    <footer class="box box4">Footer</footer>
  </div>






</body>

<!-- <% include ./partials/footer %> -->
