<% include ./partials/header %>

<div class = 'flexbox'>
  <!-- <div class='ui container'> -->
    <!-- <div class='name-intro'> -->
      <!-- <div class='name'>
        Kyle <br> Knickerbocker
      </div>
      <div class='intro'>
        Hello, this is my personal website. A place where you can find some of the things I've
        worked on and also some information about me.
      </div>
    </div> -->
    <div class = "hello message">
      <h1 class='title'>Hello, this is my personal website. A place where you can find some of the things I've
        worked on and also some information about me</h1>
    </div>

      <p class="divided">
        <span>Recent Work</span>
        <span class="divider"></span>
      </p>
      <div class='recents'>
          <div class="recent-projects">
            <h3>This is one</h3>
            <h3>This is one</h3>
            <h3>This is one</h3>
          </div>
          <div class="recent-projects">
            <h3>This is one</h3>
            <h3>This is one</h3>
            <h3>This is one</h3>
          </div>
          <div class="recent-projects">
            <h3>This is one</h3>
            <h3>This is one</h3>
            <h3>This is one</h3>
          </div>
      </div>
  </div>



<!-- <div class = "service">
      <div class="ui text container">
        <h2 class = "serviceintro">
          Web Design and Other Services
        </h2>
        <div class='ui section divider'></div>
        <p class="subintro">
          I enjoy working on a full range of services for an enhanced web presence.  My
          experience developing for the web has allowed me the opprtunity to work on a myriad
          of different projects.
          <br><br>
          Some of services I can offer include building a completely new
          website from scratch, help you set up an online store for your business, or optimize
          a current website and enhace your search rankings.
        </p>
      </div>
      <div class='ui container'>
        <div class ="ui two column grid">
          <div class='column'>
            <img class='ui centered tiny image' src="/images/asset 23@2x.png"><br>
            <div class='content'>Website Development</div>
          </div>
          <div class='column'>
            <img class='ui centered tiny image' src="/images/asset 22@2x.png"><br>
            <div class='content'>SEO</div>
          </div>
        </div>
        <div class = "ui two column grid">
          <div class='column'>
            <img class='ui centered tiny image' src="images/asset 25@2x.png"><br>
            <div class='content'>Mobile Application</div>
          </div>
          <div class='column'>
            <img class='ui centered tiny image' src="images/asset 21@2x.png"><br>
            <div class='content'>Website Design</div>
          </div>
        </div>
        <div class="ui two column grid">
          <div class='column'>
            <img class='ui centered tiny image' src="images/asset 24@2x.png"><br>
            <div class='content'>WordPress/Wix </div>
          </div>
          <div class='column'>
            <img class='ui centered tiny image' src="images/asset 20@2x.png"><br>
            <div class='content'>Cloud Hosting</div>
          </div>
        </div>
      </div>
  </div> -->





<% include ./partials/footer %>
