<% include ./partials/header %>

<div class = 'flexbox'>
  <div class='ui container'>
      <h1 class='title'>Web Development, Design, and Support </h1>
      <h2 class='subtitle'>
        Full-service website and application design, deployment, and hosting.
      </h2>
      <h3 class='subsubtitle'>
        Hello, my name is Kyle Knickerbocker. I am an independent web designer based out of
        Austin, TX.  I enjoy writing code to bring highly polished, ADA-compliant websites to life.
      </h3>
  </div>
      <div class ="ui container">
        <img class="homePic" src="/images/nomad.png">
      </div>
</div>
      <div class='ui horizontal divider'>
          Services
      </div>

<div class = "service">
      <div class="ui text container">
        <h2 class = "serviceintro">
          Web Design and Other Services
        </h2>
        <div class='ui section divider'></div>
        <p class="subintro">
          I enjoy working on a full range of services for an enhanced web presence.  My
          experience developing for the web has allowed me the opprtunity to work on a myriad
          of different projects.
          <br><br>
          Some of services I can offer include building a completely new
          website from scratch, help you set up an online store for your business, or optimize
          a current website and enhace your search rankings.
        </p>
      </div>
      <div class='ui container'>
        <div class ="ui two column grid">
          <div class='column'>
            <img class='ui centered tiny image' src="/images/asset 23@2x.png"><br>
            <div class='content'>Website Development</div>
          </div>
          <div class='column'>
            <img class='ui centered tiny image' src="/images/asset 22@2x.png"><br>
            <div class='content'>SEO</div>
          </div>
        </div>
        <div class = "ui two column grid">
          <div class='column'>
            <img class='ui centered tiny image' src="images/asset 25@2x.png"><br>
            <div class='content'>Mobile Application</div>
          </div>
          <div class='column'>
            <img class='ui centered tiny image' src="images/asset 21@2x.png"><br>
            <div class='content'>Website Design</div>
          </div>
        </div>
        <div class="ui two column grid">
          <div class='column'>
            <img class='ui centered tiny image' src="images/asset 24@2x.png"><br>
            <div class='content'>WordPress/Wix </div>
          </div>
          <div class='column'>
            <img class='ui centered tiny image' src="images/asset 20@2x.png"><br>
            <div class='content'>Cloud Hosting</div>
          </div>
        </div>
      </div>
  </div>





<% include ./partials/footer %>
