<% include ./partials/header %>

<div class = 'box flex'>
  <div class='ui main text container'>
      <div class='ui huge header'>
        Inclusive Web Development and Design
      </div>
      <i class="large big keyboard icon"></i>
      <div class='ui medium header'>
        My work is focused on creating websites that can sensibly and
        effectively convey information to a user.
      </div>
      <div class='ui horizontal divider'>
        Services
      </div>
      <div class ='ui horizontal list'>
        <div class='item'></a>
          <i class ='large terminal icon'></i>
          <div class='content'>Website Development</div>
        </div>
        <div class='item'>
          <i class='large desktop icon'></i>
          <div class='content'>Website Design</div>
        </div>
        <div class='item'>
          <i class='large wordpress icon'></i>
          <div class='content'>Wordpress</div>
        </div>
        <div class='item'></a>
          <i class="large search icon"></i>
          <div class='content'>SEO</div>
        </div>
        <div class='item'>
          <i class="large comment alternate outline icon"></i>
          <div class='content'>Social Media</div>
        </div>
      </div>
  </div>
</div>





<% include ./partials/footer %>
