<% include ./partials/header %>

<div class= "landing">
  <div class="headline">
    <p>Hello, this is my personal website. A place where you can find some of the things I've
    worked on and also some information about me.</p>
  </div>
  <div class="recents">
    <div class = "recent__title">
      <p>Recent Uploads</p>
    </div>
    <div class = "recent__item">
      <img class = "recent__thumbnail" src="https://source.unsplash.com/random/100x100?v=1">
      <div class = "recent__details">
        <div class="recent__header">
          <h2>Recent Title</h2>
          <p class="recent__date">11/13/2040</p>
        </div>
          <p class="recent__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed sint doloremque repellat,
            iste debitis.</p>
      </div>
    </div>
    <div class="recent__item">
      <img class="recent__thumbnail" src="https://source.unsplash.com/random/100x100?v=2">
      <div class="recent__details">
        <div class="recent__header">
          <h2>Recent Title</h2>
          <p class="recent__date">11/13/2040</p>
        </div>
        <p class="recent__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed sint doloremque repellat,
          iste debitis.</p>
      </div>
    </div>
    <div class="recent__item">
      <img class="recent__thumbnail" src="https://source.unsplash.com/random/100x100?v=3">
      <div class="recent__details">
        <div class="recent__header">
          <h2>Recent Title</h2>
          <p class="recent__date">11/13/2040</p>
        </div>
        <p class="recent__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed sint doloremque repellat,
          iste debitis.</p>
      </div>
    </div>
  </div>
  </div>
</div>

