<% include ./partials/header %>


<div class="matrix-title">
    <div class="matrix-name">
        <h3> Programming Compentency Matrix</h3>
    </div>
    <div class="item__overlay">
        <p>
            This matrix is designed to give an visual idea of my relevant knowledge and skills
            in several computer programming subjects with the size of square being correlated with
            proficiency in that subject.
        </p>
    </div>
</div>

<div class="matrix">
    <div class="matrix-item v4 language">
        <div class="matrix-name">
            <h3> Javascript</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v4 frontend">
        <div class="matrix-name">
            <h3>HTML</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v4 frontend">
        <div class="matrix-name">
            <h3>CSS</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v2 backend">
        <div class="matrix-name">
            <h3>Node.js</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v2 frontend">
        <div class="matrix-name">
            <h3>API's</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v3 frontend">
        <div class="matrix-name">
            <h3>CSS Frameworks</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v2 language">
        <div class="matrix-name">
            <h3>C#</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v2 language">
        <div class="matrix-name">
            <h3>Python</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v1 language">
        <div class="matrix-name">
            <h3>PHP</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v3 backend">
        <div class="matrix-name">
            <h3>MongoDB</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v2 backend">
        <div class="matrix-name">
            <h3>Authentication</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v3 backend">
        <div class="matrix-name">
            <h3>Express.js</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
    <div class="matrix-item v2 frontend">
        <div class="matrix-name">
            <h3>Package Managers</h3>
        </div>
        <div class="item__overlay">
            <button>View →</button>
        </div>
    </div>
</div>

</div>

</body>

<!-- <% include ./partials/footer %> -->
