<% include ./partials/header %>

    <div class ='ui container'>
        <div class="ui three column grid">
            <div class="column"><a href="/">
                <img src="/images/colortrainer.png">
                    <div class="project-caption">
                        <h3>Color Trainer</h3>
                        <h5>Game</h5>
                        <p>A responsive website where you try to guess the color based on RGB values alone/</p>
                    </div></a>
            </div>
            <div class="column">
                <img src="/images/colortrainer.png">
            </div>
            <div class="column">
                <img src="/images/colortrainer.png">
            </div>
        </div>
        <div class="ui three column grid">
            <div class="column">
                <img src="/images/colortrainer.png">
            </div>
            <div class="column">
                <img src="/images/colortrainer.png">
            </div>
            <div class="column">
                <img src="/images/colortrainer.png">
            </div>
        </div>
    </div>




<% include ./partials/footer %>
