<% include ./partials/header %>

    <div class ='ui container'>
        <div class="ui three column grid">
            <div class="column wrap">
                <a href="/">
                    <img class="img_img" src="/images/colortrainer.png" />
                    <div class="project-caption">
                        <h3>Color Trainer</h3>
                        <h5>Game</h5>
                        <p>A responsive website where you try to guess the color based on RGB values alone/</p>
                    </div>
                </a>
            </div>
            <div class="column wrap">
                <a href="/">
                    <img class="img_img" src="/images/colortrainer.png" />
                    <div class="project-caption">
                        <h3>Color Trainer</h3>
                        <h5>Game</h5>
                        <p>A responsive website where you try to guess the color based on RGB values alone/</p>
                    </div>
                </a>
            </div>
            <div class="column wrap">
                <a href="/">
                    <img class="img_img" src="/images/colortrainer.png" />
                    <div class="project-caption">
                        <h3>Color Trainer</h3>
                        <h5>Game</h5>
                        <p>A responsive website where you try to guess the color based on RGB values alone/</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="ui three column grid">
            <div class="column wrap">
                <a href="/">
                    <img class="img_img" src="/images/colortrainer.png" />
                    <div class="project-caption">
                        <h3>Color Trainer</h3>
                        <h5>Game</h5>
                        <p>A responsive website where you try to guess the color based on RGB values alone/</p>
                    </div>
                </a>
            </div>
            <div class="column wrap">
                <a href="/">
                    <img class="img_img" src="/images/colortrainer.png" />
                    <div class="project-caption">
                        <h3>Color Trainer</h3>
                        <h5>Game</h5>
                        <p>A responsive website where you try to guess the color based on RGB values alone/</p>
                    </div>
                </a>
            </div>
            <div class="column wrap">
                <a href="/">
                    <img class="img_img" src="/images/colortrainer.png" />
                    <div class="project-caption">
                        <h3>Color Trainer</h3>
                        <h5>Game</h5>
                        <p>A responsive website where you try to guess the color based on RGB values alone/</p>
                    </div>
                </a>
            </div>
        </div>
    </div>




<% include ./partials/footer %>
