<% include ./partials/header %>

    <div class='ui container grid'>
        <img src="/images/colortrainer.png">
        <img src="/images/colortrainer.png">
        <img src="/images/colortrainer.png">
    </div>



<% include ./partials/footer %>
