<% include ./partials/header %>
        <div class="projects-title">
            <h3>Previous Work</h3>
        </div>
        <div class = "projects-page">
            <div class="project">
                <img src = "/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
        </div>

    </div>
</body>
