<% include ./partials/header %>
        <div class="projects-title">
            <h3>Previous Work</h3>
        </div>
        <div class = "projects-page">
            <div class="project javascript web-application web-game website">
                <img src = "/images/colortrainer.png">
                <div class="item__overlay">
                    <div class = "project-summary">
                        Web Application Game. Try to guess the correct color! This app
                        is built primarily using javascript <b>DOM manipulation</b> and <b>event handling.</b>
                    </div>
                    <a href="https://ckylek.github.io/color-game">View Website →</a>
                    <a href="https://github.com/ckylek/color-game">View on Github→</a>
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                    Web application game where the user attempts to guess the correct color. The app
                    is built primarily using javascript DOM manipulation and event handling.
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
            <div class="project">
                <img src="/images/colortrainer.png">
                <div class="item__overlay">
                    <button>View →</button>
                </div>
            </div>
        </div>

    </div>
</body>
