:root {
  --primary:#0B132B;
  --secondary:#1C2541;
  --accent1:#3A506B;
  --accent2:#5BC0BE;
  --background: #FCFCFC;
}

html  {
    font-size:14px;
}

body {
  margin: 0;
  font-family: 'Jost', 'Helvetica', 'Arial', 'sans-serif';
  color: var(--secondary);
  background-color: var(--accent1);
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  display: grid;
  grid-template-areas:
  "page4"
  "page1"
  "page2"
  "page3"
  "page5"
  ;
  padding: 1rem 1rem;
  width: 100%;
  margin: 1rem 1rem;
  max-width: 27rem;
  background-color: var(--background);
}

.menu {
  grid-area: page4;
  width: 100vw;
  /* background-color: var(--accent1); */
  justify-content: space-around;
}

.menu ul {
    display: flex;
    flex-direction: row;
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
}

.menu a {
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--accent2);
  display: block;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

 [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }

[aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

.headline {
  grid-area: page1;
}

.headline h1 {
  color: var(--primary);
  font-size: 3.0rem;
  font-weight: 700;
  border-bottom: 3px solid var(--accent2);
  padding: 1rem;
  padding: 0;
  margin: 0;
}

.photo{
  grid-area: page2;
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 0;
}

.photo img {
  max-width: 100%;
  max-height: 100%;
}

.bio-header {
  grid-area: page5;
  font-size: 1.0rem;
  margin: 1rem 0;
  box-sizing: border-box;
}
.bio-content {
  grid-area: page3;
  font-size: 1.2rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.external-menu {
  grid-area: page6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  /* background-color: var(--accent2); */
  border-radius: 30px;
}

.external-menu h4 {
  margin: 0;
}
.external-menu img{
  height: 2.2rem;
}




/* ***CV PAGE*** */

.cv-title {
  grid-area: page2 / page1;
  color: var(--primary);
  font-size: 1.5rem;
  border-bottom: 3px solid var(--accent2);
}

.cv-section {
  grid-area: page3;
}

.about-subheader {
  text-decoration: underline 3px var(--accent2);
}

/* .cv-section.work {
  border: none;
} */

.about-subheader {
  color: #2b2d42;
}

/* ***MATRIX PAGE*** */
.matrix{
  grid-area:  page3 / page3 / page3 / page4;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  color: #2b2d42;
  justify-content: center;

}

.matrix-title {
  overflow: hidden;
  display: grid;
  grid-area: page1
  background-color: #edf2f4;
  margin: 5px;
  font-size: 3vw;
  color: #2b2d42;
}

.item__overlay {
  background: rgba(198, 199, 204, 0.98);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-content: center;
  font-size: 1.5vw;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.item__overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 1);
  padding: 5px;
}

.matrix-item:hover .item__overlay {
  transform: translateY(0);
}

.matrix-item {
  overflow: hidden;
  display: grid;
  background-color: tomato;
  color: #edf2f4;
  margin: 5px;
  grid-template-rows: 1;
  grid-template-columns: 1;
  font-size: 1.8vw;
}

.matrix-name {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.matrix-item.v4 {
  grid-column: span 4;
  grid-row: span 4;
}

.matrix-item.v3 {
  grid-area: span 3 / span 3;
}

.matrix-item.v2 {
  grid-area: span 2 / span 2;
}

.matrix-item.v1 {
  grid-area: span 1 / span 1;
}

.language {
  background-color: #2b2d42;
}

.frontend {
  background-color: #ef233c;
}

.backend {
  background-color: #8d99ae;
}

/* ***PROJECTS*** */

.projects-title{
  grid-area: page1;
}
.projects-page {
  grid-area: page3 / page3 / page3/ page4;
  display: grid;
  grid-template-columns: repeat(auto-fit,  300px);
  grid-auto-rows: 300px;
  grid-gap: 20px;
  padding: 50px 10px;
  justify-content: center;
}

.project {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  overflow: hidden;
}

.project img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project:hover .item__overlay {
  transform: translateY(0);
}


/* RESPONSIVE DESIGN FOR LARGE SCREENS */

@media only screen and (min-width: 768px){

  html {
    font-size: 16px;
  }

.page {
  grid-template-areas:
      "page4 page4"
      "page1 page5"
      "page2 page3"
      "page6 page6"
    ;
  padding: 1rem 4rem;
  margin-left: auto;
  margin-right: auto;
  grid-column-gap: 1.3rem;
  max-width: 65rem;
}

.menu {
  grid-area: page4 / page4 / page4 / page4;
  display: flex;
  width: auto;
}

  .menu-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
   /* padding: 0; */
  }
 .menu a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--accent2);
  }

  .menu a::before {
    /* content: ">"; */
    color: var(--secondary);
  }

  [aria-controls="menu-list"] {
    display: none;
  }

  .menu ul {
    max-height: max-content;
    transform: rotateX(0deg);
}

  .photo {
    grid-area: page2;
    max-width: 20rem;
  }

  .bio-header h2{
    text-align: center;
    padding: 0;
    margin: 0.5rem;
  }

  .external-menu {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
  }

  .external-links {
    display: flex;
    justify-content: space-evenly;
  }
}







