body {
  margin: 0;
}

.box.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.ui.main.text.container{
  text-align: center;
}

#header {
  position: sticky;
  position: -webkit-sticky;
  top: 2vh;
  height: 10vh;
}

#footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  bottom: 3vh;
  height: 10vh;
  color: blueviolet;
}


