body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  color: #384D60;
}

h1.title {
  font-size: 48px;
  font-weight: 700;
}
h2.subtitle {
  color: #FF7733;
}
h3.subsubtitle {
  font-style: italic;
  font-weight: 300;
}

.flexbox {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 86vh;
}
.flexcol {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-end;
}

.service {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #43B2D5;
}

.profilePage {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

.homePic{
  max-width: 75%;
  height: auto;
}

/* .ui.small.circular.image {
text-align: center;
margin: auto;
} */
.ui.container.grid{
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 5%;
}
/* .ui.text.container {
  display: flex;
  flex-direction: column;
} */
.ui.text.container{
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding-left: 5%;
  color: #384D60;
}

.flexcol .item {
  padding: 10%;
}

.item .content {
  font-family: Helvetica, Arial, sans-serif;
  color: #384D60;
}

#header {
  position: sticky;
  position: -webkit-sticky;
  height: 12vh;
}

.ui.top.fixed.menu .right.menu a.item {
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
  font-weight: 700;
  color: #FF7733;
}

.logo {
  padding: 8px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.name{
  font-family: Helvetica, Arial, sans-serif;
  color: #43B2D5;
  font-weight: 700;
  padding-left: 10px;
  font-size:  18px;
}


#footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  height: 7vh;
  color: blueviolet;
}



